body {
  background-color: #E9C893;
}

.main-app {
  width: 100%;
  min-height: 100vh;
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.main-app img {
  margin-bottom: 30px;
  cursor: pointer;
}
.main-container > div {
  max-height: 50px;
  width: 90%;
  margin-bottom: 30px;
}